<mat-toolbar>
    <span>Registration</span>
</mat-toolbar>
<mat-card-content>
    <form class="my-form" [formGroup]="form" (ngSubmit)="register()">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" formControlName="email">
            <mat-error>
                Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" formControlName="password">
            <mat-error>
                Please provide a valid password
            </mat-error>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="primary">REGISTER</button>
        </mat-card-actions>
    </form>
</mat-card-content>